*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* fontWeight */
  --normal : 400;
  --medium : 500;
  --large : 900;

  /* font-Size */
  --font-xs : 0.6rem;
  --font-md : 1.25rem;
   --font-lg : 3rem;

  /* spaces */
  --space-xxs : 0.1rem;
  --space-xs : 0.5rem;
  --space-sm : 1rem;
  --space-md : 1.8rem;
  --space-lg :2.4rem;
  --space-xl : 3.6rem;
  --space-xxl: 4.2rem;
}

body{
  min-width: 298px;
}

/* MenuBar */
.menubar {
  display: none;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}
.menubar .menu {
  display: flex;
  gap: var(--space-xs);
}
.menubar .menu .first{
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  font-size: var(--font-sm);
}
.menubargroup2{
  display: flex;
  gap: 1rem;
}
.menubar .sort {
  margin-left: 4rem;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  font-size: var(--font-sm);
}
.menubar .sort .second {
  align-self: center;
}

.menubar .result {
 color :#7A7979;
 font-family: 'Montserrat', sans-serif;
  font-weight:var(--normal);
  font-size: var(--font-sm);

}

/* Color Picker */
.contain{
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  margin-top: 0.5rem;
}
.style2::before{
    content: '+';
    font-weight: var(--medium);
    position: absolute;
    top: -20%;
    left: 20%;
}
#style2 {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  cursor: pointer;
}
#style2::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px thin #333;
}
#style2::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid white;
}

/* Slider */
.range{
  margin-top: -1rem;
}
.range .inputs{
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.range .inputs input[type="text"]{
  height: 1.5rem;
  width: 6rem;
  padding: var(--space-xs);
}
.range .inputs input[type="button"]{
  height: 1.5rem;
  padding-inline: var(--space-xs);
  padding-bottom: var(--space-xs);
  font-weight: calc(var(--medium) + 200);
}
.multi-range-slider {
  display: flex;
  width: 15rem;
  height: 2rem;
  position: relative;
  border: none;
  padding: 20px 10px;
  box-shadow: none;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.multi-range-slider .thumb{
  background-color: #fff;
}
.multi-range-slider .thumb .caption * {
  position: absolute;
  min-width: 30px;
  height: 30px;
  font-size: 75%;
  text-align: center;
  line-height: 30px;
  background-color: black;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 0px 5px black;
  padding: 0px 5px;
  white-space: nowrap;
}

/* Carousel */
img{
  display: block;
  max-width: 100%;
  cursor: pointer;
}

.carousel-item {
  position: relative;
}
.carousel-caption{
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
  position: absolute;
  top: 38%;
  left: 13%;
  color: #000;
}
.carousel-caption span{
  display: block;
  font-size: clamp(var(--font-xs),calc(2.5vw + 0.3rem), var(--font-lg));
  font-family: 'Inter', sans-serif;
  font-weight: var(--large);
}
.carousel-caption a{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--font-md);
}

:is(.carousel-control-next-icon,
    .carousel-control-prev-icon){
  background-color: 
  rgb(182, 171, 171);
}

/* Nav */
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: var(--space-sm);
  padding-inline: var(--space-xxl);
  position:absolute;
  top: 0;
  z-index: 100;

}
nav.productsPage{
  position: static;
  padding-inline: var(--space-xxl);

}
nav .links{
  display: flex;
  gap: var(--space-md);
  position: relative;
}

.links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: var(--space-lg);
  align-self: center;
}
.links ul li:last-child{
  display: none;
}

.links .cart{
  display: flex;
  gap :var(--space-sm);
  align-self: center;
}

.links .cart .cartMenu{
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--medium);
  font-size: var(--font-lg);
}
.links ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--medium);
  font-size: var(--font-md);
}
.links ul li.active a{
  font-weight: var(--large);
}
.minimal span {
  font-family: 'Inter', sans-serif;
  font-weight: var(--large);
  font-size: 1.5rem;
}

/* MAIN -Products and SideBar */
.allProducts{
  display: flex;
  max-width: 100%;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  padding-top: var(--space-xl);
  padding-bottom: 0 ;
  /* border: 2px solid red; */
}

/* SIDEBAR */
.allProducts .sidebar{
  flex: 0 0 35%;
}

.allProducts .sidebar .menuBack {
  display: none;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar .first {
  border-bottom: 1px solid #C3C3C3;
}
.sidebar ul span, .sidebar div span {
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 50);
  font-size: var(--font-md);
}

.sidebar ul li a {
  text-decoration: none;
  color : #7A7979;
}

.sidebar :is(.second,.third,.sixth){
  margin-left: var(--space-md);
  margin-top: 1.2rem;
}

.sidebar .fourth {
  margin-top: 1.2rem;
}
.sidebar .second span {
  font-weight:calc(var(--medium) + 200);

}
 .sidebar .second .price p{
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 50);
  font-size: var(--font-md);
 }
.sidebar .fifth {
  border-bottom: 1px solid #C3C3C3;
}

/* Product Cards */
.allProducts .productCards{
  flex: 0 0 65%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: start;
   gap: calc(var(--space-xs) + 0.3rem);
   padding-inline: var(--space-xl);
}


/* New and Love */
.header{
  display: flex;
  height: 3rem;
  align-items: center;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  padding-inline: var(--space-md);
}
.new{
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  font-size: var(--font-md);
  align-self: center;
}
.love{
  align-self: center;
  height: var(--space-sm);
  font-weight:var(--medium);
}

.footer{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding-inline: var(--space-md);
  padding-bottom: var(--space-xs);
}
.footer .name{
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  font-size: var(--font-md);
}
.footer .price {
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  font-size: var(--font-md);
  color: #7A7979;
}

.allProducts .productCards > div {
  border-radius: calc(var(--space-xs) + 0.5rem);
  overflow: hidden;
}

/* Pagination */
.pagination{
  width: 100%;
  display: flex;
  justify-content: end;
}
.pagination ul {
  margin: 0;
padding-block: var(--space-xs);
list-style-type: none;
padding-right:calc(var(--space-xxl) + 2.5rem) ;
}
.pagination ul li {
  display: inline-block;
  margin-inline: var(--space-xs);
}
.pagination ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--normal) ;
  font-size: var(--font-md);
  text-decoration: none;
  color: #7A7979;
}
.pagination ul li.active a  {
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  color: #000;
}

footer{
  background-color: #F6F6F6;
  padding-block: 2rem;
  }
footer .details {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer .details span {
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--normal) ;
  font-size: var(--font-md);
  font-style: italic;
}
footer .details input{
  width: 23rem;
  padding-block: 0.2rem;
  padding-inline: 0.1rem;
}
footer .details input::placeholder{
  font-family: 'Montserrat', sans-serif;
  color: #C3C3C3;
}
footer .details button {
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--medium) ;
  background-color: #fff;
  width: 10.3rem;
  text-align: center;
  border: transparent;
  transition: border ease-in 300ms;

}
footer .details button:hover{
  border: 1px solid black;
}

.empty{
  padding-block:1.5rem;
}

/* Responsiveness */
@media screen and (max-width:1024px){
  .allProducts {
    position: relative;
    padding-top: var(--space-sm);
  }
  .menubar{
    display: flex;
  }
  .allProducts .sidebar{
    padding-top: var(--space-md);
    position: absolute;
    transform: translateX(-110%);
    transition: all ease-in 300ms;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    width: 325px;
    overflow: auto;
    background-color: #fff;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
  }

  .allProducts .sidebar .sixth p {
    max-width: 29ch;
  }
  .allProducts .sidebar.active {
    transform : translateX(0);
    box-shadow: 0 0 50px 1000px rgba(75, 72, 72, 0.1);

  }
  .allProducts .sidebar.active .menuBack{
    display: block;
  }
  .allProducts .productCards{
    flex: 0 0 100%;
  }
}

@media screen and (max-width:750px){
    .allProducts{
      padding-left: var(--space-xxs);
      padding-right: var(--space-xxs);
    }
    .pagination ul{
      padding-right: var(--space-xl);
    }
}

@media screen and (max-width:730px){
  html{
    font-size: 14px;
  }
  nav{
    padding-inline: var(--space-md);
  }
}

@media screen and (max-width:790px){
  footer .details{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:570px){
  .links ul {
    transform: translateY(-350%);
    transform-origin: bottom;
    transition: all ease-in 200ms;
    position: absolute;
    top:100%;
    right: 0;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-inline: var(--space-md);
    padding-block: var(--space-xxs);
  }
 
  .links ul li:last-child{
    display: block;
  }
  .links ul li.active a{
    font-weight: var(--medium);
  }
  .links ul.active{
    transform: translateY(0%);
  }
  .links .cart img:first-child{
    display: flex;
  }
}

@media screen and (min-width:570px){
  .links .cart .cartMenu{
    display: none !important;
  }
}

@media screen and (max-width:494px){
  html{
    font-size: 12px;
  }
  .menubar .menu {
    align-items: start;
  }
  .menubar .menu .first {
    align-self: end;
  }
  .menubar .menu .second {
    /* align-self:start; */
    height: 20px;
  }
  .allProducts .sidebar{
    width: 259px;
  }
}

@media screen and (max-width:432px){
  .menubar .result{
    display: none;
  }
  .new{
    font-size: clamp(0.3rem,1vw + 0.5rem, 0.9rem);
  }
  .love{
    height: 10px;
  }
  .footer .name {
    font-size: clamp(0.3rem,1vw + 0.5rem, 0.9rem);
  }
  .footer .price {
    font-size: clamp(0.3rem,1vw + 0.5rem, 0.9rem);

  }
}

/* PRODUCT'S PAGE */
.productDetails{
  display: flex;
  margin-inline: var(--space-xxl);
  border: 3px solid green;
}
.productDetails .Images {
  border: 2px solid red;
}
.productDetails .Images .others{
  display: flex;
  gap:var(--space-xs);
}
.productDetails .Texts{
  align-self: center;
  border: 2px solid blue;

}
.productDetails .Texts .first {
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--normal) ;
  font-size: var(--font-md);
  color: #7A7979;
}
.productDetails .Texts .second {
  font-family: 'Montserrat', sans-serif;
  font-weight:calc(var(--medium) + 200);
  font-size:calc(var(--font-md) + 0.75rem);
}
.productDetails .Texts .third {
  font-family: 'Montserrat', sans-serif;
  font-weight:var(--normal) ;
  font-size: calc(var(--space-sm) + 0.125rem);
  max-width: 40ch;
}
.productDetails .Texts .modes{
    display: flex;
}
.productDetails .Texts .modes span:first-child{
  align-self: center;
}



